:root {
  --white: #ffffff;
  --white-rgb: 255 255 255;
  --gray1000: #002233;
  --gray1000-rgb: 0 34 51;
  --gray900: #1a3847;
  --gray800: #334e5c;
  --gray700: #4d6470;
  --gray600: #667a85;
  --gray500: #809199;
  --gray400: #99a7ad;
  --gray300: #b3bdc2;
  --gray200: #ccd3d6;
  --gray100: #e6e9eb;
  --gray75: #ebedef;
  --gray50: #f2f4f5;
  --gray25: #f7f8f9;
  --gray10: #ffffff;
  --blue1000: #001f33;
  --blue900: #003d66;
  --blue800: #005c99;
  --blue700: #007acc;
  --blue600: #008ae6;
  --blue500: #0099ff;
  --blue500-rgb: 0 153 255;
  --blue500a10: rgb(var(--blue500-rgb) / 10%);
  --blue400: #1aa3ff;
  --blue300: #33adff;
  --blue200: #80ccff;
  --blue100: #ccebff;
  --red400: #f45225;
  --red500: #f23e0d;
  --red500-rgb: 242 62 13;
  --red500a10: rgb(var(--red500-rgb) / 10%);
  --red500a50: rgb(var(--red500-rgb) / 50%);
  --red600: #da380b;
  --red700: #c2320a;
  --yellow500: #fea900;
  --yellow500-rgb: 254 169 0;
  --yellow500a10: rgb(var(--yellow500-rgb) / 10%);
  --yellow600: #e59800;
  --yellow700: #cb8700;
  --green500: #72d400;
  --purple1000: #15122e;
  --purple900: #1f1b44;
  --purple800: #2a245c;
  --purple700: #40378a;
  --purple600: #5549b8;
  --purple500: #6b5ce6;
  --purple400: #978ced;
  --purple300: #c3bdf5;
  --purple200: #e1defa;
  --purple100: #f7f6fd;
  --magenta1000: #2e0d18;
  --magenta900: #451424;
  --magenta800: #5c1b30;
  --magenta700: #8a2949;
  --magenta600: #b83761;
  --magenta500: #e6457a;
  --magenta400: #eb6a94;
  --magenta300: #f5b4c9;
  --magenta200: #fad9e4;
  --magenta100: #fdf5f8;
  --teal1000: #062822;
  --teal900: #0a3c32;
  --teal800: #0d5144;
  --teal700: #147a66;
  --teal600: #1ba388;
  --teal500: #22ccaa;
  --teal400: #64dbc3;
  --teal300: #a6eadd;
  --teal200: #d2f4ee;
  --teal100: #f3fcfa;
  --brandPrimary700: var(--user-brandPrimary700,var(--theme-brandPrimary700,#0087e0));
  --brandPrimary600: var(--user-brandPrimary600,var(--theme-brandPrimary600,#0095eb));
  --brandPrimary500: var(--user-brandPrimary500,var(--theme-brandPrimary500,#00aaff));
  --brandPrimary500-rgb: var(--user-brandPrimary500-rgb,var(--theme-brandPrimary500-rgb,0 170 255));
  --brandPrimary300: var(--user-brandPrimary300,var(--theme-brandPrimary300,#b3e6ff));
  --brandPrimary100: var(--user-brandPrimary100,var(--theme-brandPrimary100,#e5f7ff));
  --spacing1: 2px;
  --spacing2: 4px;
  --spacing3: 8px;
  --spacing4: 12px;
  --spacing5: 16px;
  --spacing6: 24px;
  --spacing7: 32px;
  --spacing8: 40px;
  --spacing9: 48px;
  --layoutSpacing1: 16px;
  --layoutSpacing2: 24px;
  --layoutSpacing3: 32px;
  --layoutSpacing4: 48px;
  --layoutSpacing5: 64px;
  --layoutSpacing6: 96px;
  --layoutSpacing7: 160px;
  --radiusSmall: 2px;
  --radiusMedium: 5px;
  --radiusLarge: 8px;
  --radiusCircle: 50%;
  --radiusPill: 9999px;
  --radiusBase: var(--radiusMedium);
  --brandRadiusBase: var(--radiusBase);
  --fontStackBase: Source Sans Pro,SourceSansPro,system-ui,sans-serif;
  --brandFontStackBase: var(--user-brandFontStackBase,var(--theme-brandFontStackBase,inherit));
  --fontSize25: 10px;
  --fontSize50: 12px;
  --fontSize75: 14px;
  --fontSize100: 16px;
  --fontSize200: 18px;
  --fontSize300: 20px;
  --fontSize400: 22px;
  --fontSize500: 25px;
  --fontSize600: 28px;
  --fontSize700: 32px;
  --fontSize800: 36px;
  --fontSize900: 40px;
  --fontSize1000: 45px;
  --fontSizeBase: var(--fontSize100);
  --lineHeightBase: 1.25;
  --lineHeightHeading: 1.25;
  --lineHeightText: 1.5;
  --gray900a: rgb(var(--gray1000-rgb) / 90%);
  --gray800a: rgb(var(--gray1000-rgb) / 80%);
  --gray700a: rgb(var(--gray1000-rgb) / 70%);
  --gray600a: rgb(var(--gray1000-rgb) / 60%);
  --gray500a: rgb(var(--gray1000-rgb) / 50%);
  --gray400a: rgb(var(--gray1000-rgb) / 40%);
  --gray300a: rgb(var(--gray1000-rgb) / 30%);
  --gray200a: rgb(var(--gray1000-rgb) / 20%);
  --gray100a: rgb(var(--gray1000-rgb) / 10%);
  --gray75a: rgb(var(--gray1000-rgb) / 7%);
  --gray50a: rgb(var(--gray1000-rgb) / 5%);
  --gray25a: rgb(var(--gray1000-rgb) / 3%);
  --colorText: var(--gray800);
  --colorTextMuted: var(--gray600);
  --colorTextDisabled: var(--gray400);
  --focusRingWidth: 2px;
  --focusRingColorPrimary: var(--blue500);
  --focusRingColorSecondary: var(--gray200);
  --colorShadow: var(--gray100a);
  --elevationStatic: 0 0 0 1px var(--colorShadow);
  --elevation1: 0 1px 4px -1px var(--colorShadow);
  --elevation2: 0 2px 4px -1px var(--colorShadow);
  --elevation4: 0 4px 6px -2px var(--colorShadow);
  --elevation8: 0 8px 12px -2px var(--colorShadow);
  --elevation12: 0 12px 12px -2px var(--colorShadow);
  --elevation16: 0 16px 12px -2px var(--colorShadow);
  --elevation24: 0 24px 12px -2px var(--colorShadow);
  --componentButtonPrimaryBorderHover: var(--brandPrimary600);
  --componentButtonPrimaryBorderActive: var(--brandPrimary700);
  --componentButtonPrimaryBorderFocus: var(--brandPrimary500);
  --componentButtonPrimaryBorderDisabled: transparent;
  --componentButtonPrimaryColor: var(--white);
  --componentButtonPrimaryColorHover: var(--white);
  --componentButtonPrimaryColorActive: var(--white);
  --componentButtonPrimaryColorFocus: var(--white);
  --componentButtonPrimaryColorDisabled: var(--white);
  --componentButtonPrimaryFill: var(--brandPrimary500);
  --componentButtonPrimaryFillHover: var(--brandPrimary600);
  --componentButtonPrimaryFillActive: var(--brandPrimary700);
  --componentButtonPrimaryFillFocus: var(--brandPrimary500);
  --componentButtonPrimaryFillDisabled: var(--brandPrimary300);
  --componentButtonPrimaryFocusRing: 0 0 0 3px rgb(var(--brandPrimary500-rgb) / 30%);
  --componentButtonSecondaryBorder: var(--gray100);
  --componentButtonSecondaryBorderHover: var(--gray200);
  --componentButtonSecondaryBorderActive: var(--gray300);
  --componentButtonSecondaryBorderFocus: var(--gray300);
  --componentButtonSecondaryBorderDisabled: var(--gray50);
  --componentButtonSecondaryColor: var(--gray800);
  --componentButtonSecondaryColorHover: var(--gray800);
  --componentButtonSecondaryColorActive: var(--gray800);
  --componentButtonSecondaryColorFocus: var(--gray800);
  --componentButtonSecondaryColorDisabled: var(--gray300);
  --componentButtonSecondaryFill: var(--gray25);
  --componentButtonSecondaryFillHover: var(--gray50);
  --componentButtonSecondaryFillActive: var(--gray75);
  --componentButtonSecondaryFillFocus: var(--gray25);
  --componentButtonSecondaryFillDisabled: var(--gray25);
  --componentButtonSecondaryFocusRing: 0 0 0 3px var(--gray50a);
  --componentButtonCleanBorderFocus: var(--gray200);
  --componentButtonCleanBorderActive: transparent;
  --componentButtonCleanColor: var(--gray600);
  --componentButtonCleanColorHover: var(--gray900);
  --componentButtonCleanColorActive: var(--gray900);
  --componentButtonCleanColorFocus: var(--gray900);
  --componentButtonCleanColorDisabled: var(--gray300);
  --componentButtonCleanFill: transparent;
  --componentButtonCleanFillHover: var(--gray25a);
  --componentButtonCleanFillActive: var(--gray50a);
  --componentButtonCleanFillFocus: var(--gray25a);
  --componentButtonCleanFillDisabled: transparent;
  --componentButtonCleanFocusRing: 0 0 0 3px var(--gray50a);
  --componentButtonDangerBorderHover: var(--red600);
  --componentButtonDangerBorderActive: var(--red700);
  --componentButtonDangerBorderFocus: var(--red500);
  --componentButtonDangerBorderDisabled: transparent;
  --componentButtonDangerColor: var(--white);
  --componentButtonDangerColorHover: var(--white);
  --componentButtonDangerColorActive: var(--white);
  --componentButtonDangerColorFocus: var(--white);
  --componentButtonDangerColorDisabled: var(--white);
  --componentButtonDangerFill: var(--red500);
  --componentButtonDangerFillHover: var(--red600);
  --componentButtonDangerFillActive: var(--red700);
  --componentButtonDangerFillFocus: var(--red500);
  --componentButtonDangerFillDisabled: var(--red500a50);
  --componentButtonDangerFocusRing: 0 0 0 3px rgb(var(--red500-rgb) / 30%);
  --componentDividerColor: var(--gray100a);
  --componentCheckboxBorderUnchecked: var(--gray300);
  --componentCheckboxBorderUncheckedHover: var(--gray500);
  --componentCheckboxBorderUncheckedFocus: var(--gray500);
  --componentCheckboxFillDisabled: var(--gray100);
  --componentCheckboxCheckmarkColorDisabled: var(--gray500);
  --componentRadioBorderUnchecked: var(--gray300);
  --componentRadioFillDisabled: var(--gray100);
  --componentRadioCheckmarkColorDisabled: var(--gray500);
  --componentRadioBorderUncheckedHover: var(--gray500);
  --componentPaginationBackground: none;
  --componentPaginationElevation: var(--elevationStatic),var(--elevation2);

}

@font-face {
  font-family: "Neue Frutiger";
  src: url(./Philips/NeueFrutigerThaiModern-Md.ttf) format('truetype');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Neue Frutiger";
  src: url(./Philips/NeueFrutigerThaiModern-Bd.ttf) format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: "Neue Frutiger";
  src: url(./Philips/NeueFrutigerThaiModern-Lt.ttf) format('truetype');
  font-weight: light;
}


.link {
    background: 0 0;
    border: 0;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    display: inline-block;
    padding: 10px 5px 10px 40px;
    font-weight: 600;
    color: #ffffff;
    line-height: 1;
    text-decoration: none;
    text-transform: none;
  }

.link::before {
    content: "";
    position: absolute;
    left: 0;
    top: 1px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: #fff;
    color: #fff;
}
.link--back-arrow > svg {
    left: 8px;
    top: 11px;
    width: 17px;
    height: 14px;
  }
  .link--back-arrow:hover > svg {
    transform: translateX(-2px);
}

.link > svg {
  position: absolute;
  fill: rgb(51, 78, 92);
  stroke: rgb(51, 78, 92);
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.sr-only {
    position: absolute;
    overflow: hidden;
    margin: 0;
    clip: rect(0 0 0 0);
    width: 1px;
    height: auto;
    padding: 0;
    border: 0;
    white-space: nowrap;
  }
.map-intro {
  flex: content;
    z-index: 50;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    pointer-events: none;
    transition: all 0.4s;
    display: block;
  }



  @media only screen and (min-width: 25em) {
    .map-intro {
      max-width: 90%;
    }
  }
  @media only screen and (min-width: 37.5em) {
    .map-intro {
      max-width: 524px;
    }
  }
  @media only screen and (min-width: 43.75em) {
    .map-intro {
      max-width: 450px;
    }
  }

  .map-intro__inner {
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
    background: #fff;
    box-shadow: 0px 1px lightgray;
    color: var(--blue1000);
    font-size: 1.6rem;
    outline: 0;
    pointer-events: all;
    transition: all  0.4s ease-out;
    display: 'block';
  }
  .map-intro__inner::after {
    content: "";
    z-index: 2;
    position: absolute;
    bottom: 65px;
    right: 20px;
    left: 0;
    display: none;
    height: 50px;
    background: linear-gradient(to top, #003755 0, rgba(0, 55, 85, 0) 100%);
    pointer-events: none;
  }
  .map-intro__inner[aria-hidden="true"] {
    visibility: hidden;
  }
  .map-intro__scroller {
    position: relative;
    height: calc(100% - 65px);
    overflow: hidden;
    overflow-y: auto;
    
    -ms-scroll-chaining: none;
    overscroll-behavior: contain;
  }
  @media only screen and (min-width: 33.75em) {
    .map-intro__scroller {
      scrollbar-color: #747373 transparent;
      scrollbar-width: thin;
    }
    .map-intro__scroller::-webkit-scrollbar-track {
      margin: 0.3em 0;
      background-color: transparent;
    }
    .map-intro__scroller::-webkit-scrollbar {
      width: 0.5em;
    }
    .map-intro__scroller::-webkit-scrollbar-thumb {
      background-color: lightgray;
      border: 0.1em solid transparent;
      border-top: 0;
      border-bottom: 0;
      background-clip: padding-box;
      border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px
    }
  }
  .map-intro__nav {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 5px 8px;
    background: #fff;
    box-shadow: var(--elevation6)
  }
 
  .map-intro__nav-back {
    margin-right: 10px;
  }
  @media only screen and (max-width: 33.6875em) {
    .map-intro__nav-share .share-buttons[data-type="regular"] {
      display: none;
    }
  }
  .map-intro__content {
    padding: 25px 20px 40px;
  }
  @media only screen and (min-width: 45em) {
    .map-intro__content {
      padding: 5px;
    }
  }
  .map-intro__content h1 {
    margin: 0 0 0.5em;
    text-transform: inherit;
    font-family: "Neue Frutiger";
    font-size: 27px;
    font-weight: bold;
    position: relative;
    line-height: 1;
    padding: 20px;
  }
  /* @media only screen and (min-width: 33.75em) {
    .map-intro__content h1 {
      font-size: 20;
    } */
  
  .map-intro__content h4 {
    font-weight: normal;
    box-shadow: var(--elevation4);
    padding: 10px;
    margin: 0px;

    }

  /* @media only screen and (min-width: 63.75em) {
    .map-intro__content h1 {
      font-size: 2em;
    } */
  
  .map-intro__content h1 span {
    font-weight: 6;
    line-height: 1;
  }

  @media only screen and (min-width: 45em) {
    .map-intro__content h1::before {
      width: 90px;
    }
  }
  .map-intro__content h1.block-title--with-icon {
    padding-top: 30px;
  }
  .map-intro__content h1.block-title--with-icon::before {
    transform: translateX(calc(40px + 15px));
  }
  @media only screen and (min-width: 56.25em) {
    .map-intro__content h1.block-title--with-icon::before {
      transform: translateX(calc(50px + 20px));
    }
  }
  .map-intro__content h1::before {
    color: var(--blue1000);
  }

  .map-intro__content-scroller h1{
    box-shadow: var(--elevation8);
  }



  .map-intro__content p {
    color: var(--blue1000);
    font-weight: normal;
    font-family: "Neue Frutiger";
    font-size: medium;
    padding: 0px 40px;
    text-align: justify;
  }
  .map-intro__content p.intro {
    color: #fff;
  }
  .map-intro__content hr {
    margin: 1em 0;
    border-color: rgba(255, 255, 255, 0.25);
  }
  .map-intro__content footer {
    font-size: 1.2rem;
    line-height: 1.5;
  }
  .map-intro__content footer p {
    color: var(--blue1000);
  }
  .map-intro__start {
    z-index: 3;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    line-height: 4.5rem;
    background: rgb(var(--blue500-rgb));
    box-shadow: var(--elevation4);
    font-weight: bold;
    font-size: large;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    text-decoration: none;
  }
  .map-intro__start:hover {
    background-color: #fff;
  }
  .map-intro__toggle {
    background: 0 0;
    border: 0;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    top: 90px;
    right: -24px;
    display: block;
    width: 24px;
    height: 60px;
    padding: 0;
    background: rgba(255, 255, 255, 0.8);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    pointer-events: all;
  }
  .map-intro__toggle:active {
    outline: 0;
  }
  .map-intro__toggle:hover {
    background: #fff;
  }
  .map-intro__toggle > svg {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -4px;
    margin-top: -5px;
    width: 8px;
    height: 10px;
  }
  .map-intro__toggle[aria-expanded="false"] > svg {
    transform: scaleX(-1);
  }
  .map-meta__trigger {
    background: 0 0;
    border: 0;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    z-index: 10;
    position: absolute;
    right: 0.8rem;
    bottom: 0.8rem;
    width: 3rem;
    height: 3rem;
    display: block;
    padding: 10px;
    line-height: 0;
    background: #fff;
  }
 
  a#map-intro-start{
    vertical-align: middle;
  }
 